$utility-purple-400:#9B8AFB;


a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 기본 색상 사용 */
}
.option-button-wrap{
  border: 1px solid #E4E7EC;

  :first-child{
    border-bottom: 1px solid #BDB4FE;
    box-sizing: border-box;
  }

  .option-button{
    width: 56px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
}

.menu-items {
  position: absolute;
  z-index: 9999;
  width: 58px;
  height: 80px;
  top: 21px;
  right: 8px;
  font-size: 15px;
  font-weight: 400;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .menu-item {
    border: none;
    background: none;
    text-wrap: nowrap;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 50px;
    align-self: stretch;

    &:hover {
      background-color: #f5f5f5;
    }

    &.edit {
      border-bottom: 1px solid #bdb4fe;
    }

    // &.delete {
    //   color: #e74c3c;
    // }
  }
}


.postlist-wrap{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  display: flex;
  flex-direction: column;

  .post-wrap{
    display: flex;
    padding: 16px;
    gap: 10px;

    .profile-img{
      border-radius: 40px;
      width:32px;
      height: 32px;
      object-fit: cover;
    }
    .post-box{
      width: 522px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin: 0 0 6px 0;

      .post-info{
        display: flex;
        gap: 8px;
        line-height: 20px;

        .nickname{
          font-size: 14px;
          font-family: 'Pretendard';
          font-weight: 600;
          word-Wrap: break-word;
        }
        .created{
          font-size: 12px;
          font-family: 'Pretendard';
          font-weight: 300;
          word-Wrap: break-word;
        }
      }
      .post-contents{
        font-size: 14px;
        font-family: 'Pretendard';
        font-weight: 300;
        line-height: 19.60px;
        word-Wrap: break-word;

      }
      .contents-image{
        width: 522px;
        max-height:642px;
        object-fit: cover;
        margin: 10px 0 4px 0;
      }
      .activity-wrap{
        display: flex;
        font-size: 13px;
        height: 16px;
        line-height: 16px;
        justify-content: space-between;

        .activity-side{
          display: flex;
          gap: 14px;

          .activity{
            display: flex;
            align-items: center;
            gap: 8px;
            
            .likes-button{
              border: none;
              background: none;
              padding: 0;
              height: 16px;
              cursor: pointer;
              display: flex;
              align-items: center;
            }
          }
        }
        .option-wrap{
          position: relative;
          cursor: pointer;

          
        }
      }
    }
  }
  
}