.search-body {
  display: flex;
  width: 600px;
  padding-top: 1px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
  border: 1px solid var(--Colors-Border-border-primary, #d0d5dd);
  background: #fff;
}

.search-text {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.search-form {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: var(--spacing-md, 8px);
  align-self: stretch;
  border-bottom: 1px solid var(--Component-colors-Utility-Purple-utility-purple-500, #7a5af8);
  background: var(--Component-colors-Utility-Purple-utility-purple-50, #f4f3ff);
  box-shadow: 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(16, 24, 40, 0.05));
}
.search-form .search-form-input {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--Component-colors-Utility-Gray-utility-gray-400, #98a2b3);
  text-overflow: ellipsis;
  background: var(--Component-colors-Utility-Purple-utility-purple-50, #f4f3ff);
  border: none;
  -webkit-appearance: none;
  font-family: var(--Font-family-font-family-body, Inter);
  font-size: var(--Font-size-text-md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-height-text-md, 24px);
}
.search-form .search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-contents {
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: flex-start;
}
.search-contents .search-contents-button {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
  margin-left: 15px;
}
.search-contents .search-contents-button .search-contents-button-post,
.search-contents .search-contents-button .search-contents-button-tag,
.search-contents .search-contents-button .search-contents-button-user {
  display: flex;
  width: 178px;
  padding: var(--spacing-sm, 6px) var(--spacing-7xl, 64px);
  justify-content: center;
  align-items: center;
  gap: 10%;
  border: 1px solid var(--Component-colors-Utility-Purple-utility-purple-300, #bdb4fe);
}
.search-contents .search-contents-button .search-result {
  display: flex;
  width: var(--width-md, 560px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.search-container {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.search-container .search-post {
  display: flex;
  padding: 8px;
  gap: 10px;
}
.search-container .search-post .search-post-profileimg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search-container .search-post .search-post-detail {
  width: 522px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 6px 0;
}
.search-container .search-post .search-post-detail .search-post-info {
  display: flex;
  gap: 8px;
}
.search-container .search-post .search-post-detail .search-post-info .search-post-name {
  font-size: 14px;
  font-family: "Pretendard";
  font-weight: 600;
  word-wrap: break-word;
}
.search-container .search-post .search-post-detail .search-post-info .search-post-updated {
  font-size: 12px;
  font-family: "Pretendard";
  font-weight: 300;
  word-wrap: break-word;
}
.search-container .search-post .search-post-detail .search-post-title {
  font-size: 14px;
  font-family: "Pretendard";
  font-weight: 300;
  line-height: 19.6px;
  word-wrap: break-word;
}
.search-container .search-post .search-post-detail .search-post-image {
  width: 522px;
  max-height: 642px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px 0 4px 0;
}
.search-container .search-post .search-post-detail .search-post-icons {
  display: flex;
  font-size: 13px;
  height: 16px;
  line-height: 16px;
  justify-content: space-between;
}
.search-container .search-post .search-post-detail .search-post-icondetaile {
  display: flex;
  gap: 14px;
}
.search-container .search-post .search-post-detail .search-post-icondetaile .search-post-likeNum,
.search-container .search-post .search-post-detail .search-post-icondetaile .search-post-commentNum {
  display: flex;
  align-items: center;
  gap: 8px;
}
.search-container .search-post .search-post-detail .search-post-options {
  position: relative;
}
.search-container .search-user {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 10px 14px;
  border-bottom: 1px solid var(--Colors-Border-border-primary, #d0d5dd);
  width: 100vw;
}
.search-container .search-user .search-user-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search-container .search-user .search-user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search-container .search-user .search-user-info .search-user-name {
  color: var(--colors-text-text-primary-900, #101828);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}
.search-container .search-user .search-user-info .search-user-message {
  color: var(--colors-text-text-secondary-700, #344054);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
}
.search-container .search-user .search-user-info .search-user-followerNum {
  font-family: Pretendard;
  font-size: 12px;
  color: var(--colors-text-text-secondary-500, #6f6f6f);
}/*# sourceMappingURL=search.css.map */