.background{
  position: relative;
  .background-cover{
    position: absolute;
    top: -96px;
    z-index: -9999;
    height: 100vh;
    background: white;
    width: 100vw;
  }
}

.form-wrapper{
  margin: 0 auto;
  width: 360px;
  height: 524px;
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  
  h1{
    font-size: 30px;
    font-family: pretendard;
    font-weight: 600;
  }

  .form-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

.form-content-wrapper {
  width: 360px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  .form-content{
    font-size: 14px;
    flex-direction: column;
    align-items: flex-start;

    label{
      margin-bottom: 4px;
    }

    input{
      border: 1px #D0D5DE solid;
      height: 44px;
      width: 100%;
      padding: 10px 14px;
      border-radius: 8px;
      width: 100%;
      box-sizing: border-box;
      background-color: white;
      margin-top: 4px;

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 500px white inset !important;
      }
  }
}
}

.submit-button{
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #7F56D9;
  color: white;
  height: 44px;
  box-sizing: border-box;
  font-weight: 600;
  font-family: pretendard;
  font-size: 16px;
}

.link{
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin-top:32px; 
  gap: 4px;
  .active{
    color:#7F56D9;
    font-weight: 600;
    font-family: pretendards;

  }
}