.form-wrapper{
  margin: 0 auto;
  width: 360px;
  height: 524px;
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    font-size: 30px;
    font-family: pretendard;
    font-weight: 600;
  }
}