$utility-gray-400: #98a2b3;

$utility-purple-500: #7a5af8;
$utility-purple-50: #f4f3ff;
.scroll-container {
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100%;
}
.search-bar {
  display: flex;

  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid $utility-purple-500;
  background: $utility-purple-50;
  .search-icon {
    width: 20px;
    height: 20px;
  }
  .search-input {
    flex: 1;
    overflow: hidden;
    color: $utility-gray-400;
    background: $utility-purple-50;
    border: none;
    /* Text md/Regular */
    font-size: 16ox;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    outline: none;
  }
}
.a-movie-card {
  text-decoration-line: none;
}
