@mixin font($family, $size, $style, $weight, $height, $color) {
  font-family: $family;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}
@mixin display($justify: flex-start, $align: stretch, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.mypage-container {
  position: relative;
}
.mypage-header {
  position: relative;
  box-sizing: border-box;
  padding: 70px 30px 40px 30px;
  @include display($direction: column);
}
.user-profile {
  display: flex;

  &-img-container {
    background-color: gray;
    border-radius: 999px;
    width: 98px;
    height: 98px;
  }

  // &-img-file {
  //   object-fit: contain;
  //   width: 100%;
  //   height: 100%;
  // }

  &-description {
    @include display($justify: flex-start, $direction: column);
    margin-left: 16px;

    .nickname {
      @include font(pretendard, 22px, normal, 600, 150%, #000);
      margin: 0;
    }
    .bio {
      @include font(inter, 12px, normal, 400, 150%, #000);
      letter-spacing: -0.132px;
      margin: 1px 0 0 0;
    }
  }
}

.user-connection {
  @include display($align: center);
  width: max-content;
  max-width: 300px;
  height: 20px;
  margin-top: 26px;
  @include font(pretendard, 13px, normal, 400, 150%, #000);

  .follower {
    box-sizing: border-box;
  }

  .divider {
    background: #dadada;
    border: 1px;
    width: 1px;
    height: 11px;
    margin: 0 12px;
  }

  .following {
    box-sizing: border-box;
  }
}

.edit-btn {
  position: absolute;
  top: 18px;
  right: 20px;
  border-style: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.follow-btn {
  background-color: #7a5af8;
  cursor: pointer;
  border-style: none;
  width: max-content;
  max-width: 110px;
  min-width: 101px;
  height: 42px;
  position: absolute;
  top: 126px;
  right: 30px;
  @include font(pretendard, 18px, normal, 600, 150%, #f4f3ff);

  &:hover {
    background-color: #6e51e3;
  }
}

.following-btn {
  cursor: pointer;
  display: flex;
  max-width: 110px;
  min-width: 101px;
  height: 42px;
  padding: var(--spacing-sm, 6px) 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #98a2b3;
  position: absolute;
  top: 126px;
  right: 30px;
  @include font(pretendard, 18px, normal, 600, 150%, #667085);

  &:hover {
    background-color: #d7d7d7;
  }
}
