@mixin font($family, $size, $style, $weight, $height) {
  font-family: $family;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

ul,
li {
  list-style: none;
}

li {
  text-align: center;
  box-sizing: border-box;
  padding: 12px 0;
}

.mypage-log {
  margin-top: 23px;
}

.user-log-list {
  box-sizing: border-box;
  border-top: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-evenly;
  color: #000;
  @include font(Pretendard, 18px, normal, 400, 150%);
  margin: 0;
  padding-left: 0;

  .article {
    box-sizing: border-box;
    flex: 1;
    cursor: pointer;
    border-bottom: 1px solid #e7e7e7;
  }

  .review {
    flex: 1;
    cursor: pointer;
    border-bottom: 1px solid #e7e7e7;
  }

  .likes {
    flex: 1;
    cursor: pointer;
    border-bottom: 1px solid #e7e7e7;
  }

  .active {
    border-bottom: 1px solid #7a5af8;
  }
}
