@mixin font($family, $size, $style, $weight, $height) {
  font-family: $family;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

ul,
li {
  list-style: none;
}

li {
  text-align: center;
  box-sizing: border-box;
}

.mypage-log {
  margin-top: 40px;
}

.user-log-list {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  color: #000;
  @include font(Pretendard, 18px, normal, 400, 150%);
  margin: 0;

  .article {
    box-sizing: border-box;
    padding-bottom: 10px;
    flex: 1;
    cursor: pointer;
    border-bottom: 1px solid #e7e7e7;
    color: #667085;
  }

  .review {
    flex: 1;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    color: #667085;
  }

  .likes {
    flex: 1;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    color: #667085;
  }

  .active {
    border-bottom: 1px solid #7a5af8;
    color: #344054;
  }
}

.none {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 15px;
  color: #c5c5c5;
  letter-spacing: -0.28px;
}
