@mixin font ($family, $size, $style, $weight, $height) {
  font-family: $family;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

ul, li {
  list-style: none;
}

li {
  text-align: center;
  box-sizing: border-box;
  padding: 12px 0;
}

.mypage-log {
  margin-top: 23px;

  .user-log-list {
    box-sizing: border-box;
    border-top: 1px solid  #E7E7E7;
    border-bottom: 1px solid  #E7E7E7;
    display: flex;
    justify-content: space-evenly;
    color: #000;
    @include font(Pretendard, 18px, normal, 400, 150%);
    margin: 0;
    padding: 0;

   .article {
    flex: 1;
    cursor: pointer;
   } 

   .review {
    flex: 1;
    cursor: pointer;
   }

   .likes {
    flex: 1;
    cursor: pointer;
   }
  }
}