$primary-color: #333;
$border-primary: #d0d5dd;
$white: #ffffff;
$utility-purple-100: #ebe9fe;
$utility-purple-300: #bdb4fe;
$utility-purple-400: #9b8afb;
$utility-purple-500: #7A5AF8;
$utility-purple-600: #6938EF;

@mixin channel-basic{
  font-size: 14px;
  font-family: Pretendard;
  font-weight: 400;
  height: 32px;
  text-transform: uppercase;
  word-wrap: break-word;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f5f7;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

.navigate-bar {
  position: fixed;
  height: 100%;
  width: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $utility-purple-100;
  z-index: 3;

  .menu-icon {
    width: 44px;
    height: 44px;
    background: #e1d7fe;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contents-wrap {
  height: 100vh;
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  
  .write-button{
    width: 58px;
    height: 58px;
    position: absolute;
    background: $utility-purple-500;
    border: 1px solid $utility-purple-600;
    border-radius: 60px;
    right: -72px;
    bottom: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contents-title-wrap{
    text-align: center;
    position: relative;

    .remote{
      display: none;
      &.enter-channel{
        display: block;
      }
    }

    .navigate-channel{
      width: 87px;
      height: 224px;
      position: absolute;
      top: 46px;
      right: -103px;

      .follow-channel{
        background-image: url("../src/shared/asset/FollowChannelButtonBG.svg");
        color: #98A2B3;
        padding: 8px 0 8px 0;
        @include channel-basic();
        
      }
      .now-channel{
        background-image: url("../src/shared/asset/NowChannelButtonBG.svg");
        color: #E4E7EC;
        padding: 10px 11px 8px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        @include channel-basic();
      }
      .genre-channel{
        background:#F2F4F7;
        color: #98A2B3;
        padding: 9px 0 8px 0;
        @include channel-basic();
        border-left: 1px #D0D5DD solid;
        border-right: 1px #D0D5DD solid;
        border-bottom: 1px #D0D5DD solid;
      }
    }


    .contents-title{
      padding: 11px 8px;
      display: flex;
      justify-content: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      position: relative;

      .arrow-holder {
        width: 24px;
        height: 24px;
        display: none;
        position: absolute;
        left: 10px;
        &.enter-channel{
          display: block;
        }
      }
      
      
    }
  }
  .contents {
    flex-grow: 2;
    scrollbar-width: none;
    overflow: scroll;
    height: inherit;
    background: $white;
    border: solid 1px $border-primary;
    position: relative;
  }
}