$utility-purple-500: #7a5af8;

.modal-overlay {
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-modal-box {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background: white;
  border-radius: 8px;
  box-shadow: inset;
  padding: 20px 20px 14px 20px;
  width: 600px;
  position: relative;
  box-sizing: border-box;

  .comment-box-title{
    width: 560px;
    display: flex;
    color: white;
    position: absolute;
    top: -30px;
    justify-content: center;
    font-weight: 400;
  }
  

  .comment-modal-top{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;


    button{
      border: none;
      background: none;
    }

    .select-channel{
      display: flex;
      gap: 8px;
      align-items: center;

      .select-custom{
      -o-appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      padding: 6px 3px 5px 5px;
      background: url(/src/shared/asset/GenreSelectButtonInModalIcon.svg) no-repeat 85% 50%;
      width: 84px;

        &::-ms-expand { 
          display: none;
        }
      }

    }
  }

  .divide{
    width: 100%;
    margin: 20px 0 20px 0;
  }

  .modal-contents-wrap{
    display: flex;
    gap: 15px;
  
    .profile-img{
      height: 32px;
      object-fit: cover;
    }

  .modal-contents{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    margin-bottom: 50px;

     p {
      font-size: 14px;
      font-weight: 600;
     }

    .textarea{
      font-family: Pretendard;
      width: 100%;
      border: none;
      outline: none;
      resize: none;
      font-size: 15px;
      line-height: 19.6px;
      padding: 0;
      scrollbar-width: none;
    }
  }
}

  .comment-img-select{
    display: flex;
    justify-content: flex-end;

    .submit_button{
      width: 64px;
      height: 32px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: $utility-purple-500;
      color: white;
      line-height: 150%;
      padding-top: 1px;
      border-radius: 4px;
      
    }
  }

}

.comment-post-wrap{
  display: flex;
  gap: 10px;

  .profile-img{
    height: 32px;
    object-fit: cover;
  }
  .post-box{
    width: 522px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 0 6px 0;

    .post-info{
      display: flex;
      gap: 8px;
      line-height: 20px;

      .nickname{
        font-size: 14px;
        font-family: 'Pretendard';
        font-weight: 600;
        word-Wrap: break-word;
      }
      .created{
        font-size: 12px;
        font-family: 'Pretendard';
        font-weight: 300;
        word-Wrap: break-word;
      }
    }
    .post-contents{
      font-size: 14px;
      font-family: 'Pretendard';
      font-weight: 300;
      line-height: 19.60px;
      word-Wrap: break-word;

    }
    .contents-image{
      width: 522px;
      max-height:642px;
      object-fit: cover;
      margin: 10px 0 4px 0;
    }
    .activity-wrap{
      display: flex;
      font-size: 13px;
      height: 16px;
      line-height: 16px;
      justify-content: space-between;

      .activity-side{
        display: flex;
        gap: 14px;

        .activity{
          display: flex;
          align-items: center;
          gap: 8px;
          
          .likes-button{
            border: none;
            background: none;
            padding: 0;
            height: 16px;
          }
        }
      }
      .option-wrap{
        position: relative;

        
      }
    }
  }
}