$utility-purple-500: #7a5af8;

.modal-overlay {
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background: white;
  border-radius: 8px;
  box-shadow: inset;
  padding: 20px;
  width: 600px;
  position: relative;
  box-sizing: border-box;

  .modal-box-title{
    width: 560px;
    display: flex;
    color: white;
    position: absolute;
    top: -30px;
    justify-content: center;
    font-weight: 400;
  }
  

  .modal-top{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 16px;


    button{
      border: none;
      background: none;
    }

    .select-channel{
      display: flex;
      gap: 8px;
      align-items: center;

      .select-custom{
      -o-appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      padding: 6px 3px 5px 5px;
      background: url(/src/shared/asset/GenreSelectButtonInModalIcon.svg) no-repeat 85% 50%;
      width: 84px;

        &::-ms-expand { 
          display: none;
        }
      }

    }
  }

  .modal-contents-wrap{
    display: flex;
    gap: 15px;
  
    .profile-img{
      width: 32px;
      height: 32px;
      object-fit: cover;
      border-radius: 50px;
    }

  .modal-contents{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    margin-bottom: 50px;

     p {
      font-size: 14px;
      font-weight: 600;
     }

    .textarea{
      font-family: Pretendard;
      width: 100%;
      border: none;
      outline: none;
      resize: none;
      font-size: 15px;
      line-height: 19.6px;
      padding: 0;
      scrollbar-width: none;
    }
  }
}

  .content-img-select{
    display: flex;
    justify-content: space-between;
    align-items: center;

    input[type=file]::file-selector-button {
      width: 70px;
      height: 26px;
      font-size: 12px;
      background: #fff;
      border: 1px solid rgb(77,77,77);
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background: rgb(77,77,77);
        color: #fff;
      }
    }

    .submit_button{
      width: 64px;
      height: 32px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: $utility-purple-500;
      color: white;
      line-height: 150%;
      padding-top: 1px;
      border-radius: 4px;
      
    }
  }

}