.scroll-container {
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}
.detail-section {
  position: relative; /* 추가 */

  .detail-image {
    width: 600px;
    height: 434px;
    object-fit: cover;
  }

  .detail-info {
    z-index: 3;
    position: absolute;
    bottom: 0; /* 필요한 위치를 설정하세요 */
    left: 0; /* 필요한 위치를 설정하세요 */
    color: #fff;
    padding: 25px;
    .detail-title {
      font-size: 28px;
      font-weight: 700;
      line-height: 150%; /* 42px */
      margin: 0;
    }
    .detail-description {
      font-size: 16px;
      font-weight: 500;
      line-height: 150%; /* 24px */
    }
  }
}
.review-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px 11px;
}
.review-form-header {
  color: #7a5af8;
  font-size: 12px;
  font-weight: 700;
  line-height: 150%; /* 18px */
  padding: 3px 8px 2px 8px;
  border-radius: 30px;
  border: 1px solid #7a5af8;
}
.review-form-star {
}
.review-form-input-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  align-items: end;
}
.review-form-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #d0d5dd;
  outline: none;
  padding: 10px 11px;
  &::placeholder {
    color: #667085;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 19.5px */
  }
}
.review-form-button {
  color: #ffffff;
  height: 100%;
  border: none;
  background: #7a5af8;

  padding: 10px 24px;
  text-wrap: nowrap;
}
