// ReviewComponent.scss
.review-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review-container {
  padding: 10px 15px 5px 15px;
  font-family: Arial, sans-serif;
  position: relative; /* 가상 요소 배치를 위해 relative 추가 */
  max-width: 600px;
  background-color: white;

  &::after {
    content: ''; /* 가상 요소 생성 */
    position: absolute; /* 부모 div에 대해 절대 위치 지정 */
    bottom: 0; /* 부모 div의 하단에 위치 */
    left: 50%; /* 부모 div의 가로 중앙에서 시작 */
    transform: translateX(-50%); /* 중앙 정렬 */
    width: 95%; /* 원하는 border의 길이 설정 (조정 가능) */
    border-bottom: 1px dotted #e7e7e7; /* border의 스타일과 두께 */
  }

  .stars {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .star {
      width: 24px;
      height: 24px;
      margin-right: 2px;
    }

    .rating {
      font-size: 18px;
      font-weight: bold;
      margin-left: 5px;
    }
  }

  .review-text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .review-footer {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    color: #666;
    margin-bottom: 10px;
    gap: 8px;
    .reviewer {
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.24px;
      color: #101828;
    }
    .review-date {
      font-size: 12px;
      color: #475467;
      font-weight: 300;
      line-height: normal;
    }
  }

  .likes {
    display: flex;
    align-items: center;
    gap: 8px;
    .heart-icon {
      width: 16px;
      height: 16px;
      margin-right: 5px;
      color: #666;
    }

    .like-count {
      font-size: 12px;
      color: #666;
    }
  }
}
